body {
   background-color: beige;
    display: flex;
  justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
   /* position: absolute;*/
    border: solid 2px black;
    border-radius: 20px;
    padding: 50px;
    background-color: white;

}

#enabezado{

    background-image: url(imagenes//fondo1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    color: white;
    border-radius: 20px;
    
}
#foto {
   
}

#menuprincipal{
    border: solid 1px white;
    border-radius: 20px;


}
#menuprincipal li {
    display: inline;
}

a {
    line-height: 50px;
	height: 100%;
    width: 150px;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;

    
}

section{

    border-radius: 20px;
    padding: 50px;
}

h4 {
    color: blue;
    font-size: 24px;
}

p {

    padding-left: 30px;
}

h5{
    font-size: 20px;
    padding-left: 15px;;
}

footer{
    border-radius: 20px;
    padding: 50px;
    background-image: url(imagenes//fondo1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
   

}

#InfoAutor{
    border-radius: 15px;
    padding: 15px   ;    
    margin-left: 40px;
}

#autor {
    margin-left: 40px;
    display: none;
    
}